@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-100: #E9F8F1;
  --white-200: #C2E9D8;
  --green-gradient-100: #74F484;
  --green-gradient-200: #0FC141;
  --green-main-100: #30C243;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}